* {
    box-sizing: border-box;
    margin:0 0;
    padding:0;

  }


  .banner {
     display: auto;
     justify-content: space-evenly;
     transform: translate(-75%, -25%);
     text-align: center;
     width: 100%;
      }
  
  .corpo {

    /* background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  }
  
  .titulo1 {
    padding: 30px;
    text-align: center;
    font-size: 48px;
    color: #687843;

  }
    /* Estilo da Area de Artigo*/
    .Texto_Titulo1 {
        float: center;
        padding: 20px;
        width: 100%;
        background-color: #ffffff;
        height: 622px; 
        color: #000;
        text-align: justify;
        font-family: Kameron;
        font-size: 32px;
      }


  /* Estilo do cabeçalho*/
  .menu_principal {
    background-color:#7882D8;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-family: Lalezar;
    color: white;
    display: flex;
    justify-content: space-around;
  }


  .segunda_placa {
    float: center;
    padding: 20px;
    width: 100%;
    background-color: #7882D8;
    height: 622px; 
  
  }

  .titulo2{
    color: #687843;
    font-family: Lalezar;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* Transforma o que tiver dentro em espaço flexivel */
  .primeira_placa {
    display: -webkit-flex;
    display: flex;
  }
  
  
  /* Limpa seção e coluna caso não exista*/
    section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Estilo do Rodapé */
  footer {
    background-color: #7882D8;
    padding: 35px;
    text-align: center;
    color: white;
  }
  
  /* Layout Responsivo transforma tudo em duas colunas para caber na tela do celular*/
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  