* {
    box-sizing: border-box;
    margin:0 0;
    padding:0;

  }


  .banner {
    width: 100%;
    height: 414px;
    display: flex;
     
      }

  .imagembanner {
    display: flex;
    text-align: center;
    width: 100%;
    object-fit: cover;
    height: 414px;

  }
  
  .corpo {

    /* background-image: url('fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  }
  
  .titulo1 {
    padding: 50px;
    text-align: center;
    font-size: 48px;
    color: #687843;

  }
    /* Estilo da Area de Artigo*/
    .Texto_Titulo1 {
        float: center;
        padding: 20px;
        width: 100%;
        background-color: #ffffff;
        height: 622px; 
        color: #000;
        text-align: justify;
        font-family: Kameron;
        font-size: 32px;
        margin: 0 150px 0 150px;
      }


  /* Estilo do cabeçalho*/
  .menu_principal {
    background-color:#7882D8;
    padding: 1px;
    display: flex;
    justify-content: space-around;
  }


  .ITEM{

    text-align: center;
    font-size: 30px;
    font-family: Lalezar;
    color: white;
    padding: 30px ;

  }

  .segunda_placa {
    float: center;
    padding: 20px;
    width: 100%;
    background-color: #7882D8;
    height: 825px; 
  
  }
   

  .terceira_placa {

    float: center;
    padding: 20px;
    width: 100%;
    background-color: #ECECEC;
    height: 825px; 

  }
  .titulo2{
    color: #687843;
    font-family: Lalezar;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 35px;
  }
  
  /* Transforma o que tiver dentro em espaço flexivel */
  .corpo {
    display: -webkit-flex;
    display: flex;
  }
  
  .item_list{
    color: #DFDED6;
    font-family: Kameron;
    font-size: 32px;
    padding: 25px;
  }

  .comentarios {
  
    color: #FFF;
    font-family: Kameron;
    font-size: 32px;
    padding: 10px;

  }
  .comentarios2 {
  
    color: #939BAB;
    font-family: Kameron;
    font-size: 32px;
    padding: 10px;
    margin: 0 0 0 15px;

  }

  .titulo3{
    color: #687843;
    font-family: Lalezar;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 35px;
  }

  .titulo4{
    color: #687843;
    font-family: Lalezar;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 35px;
  }
 


  .cards_div {
  display: flex;
  width: 677;
  height: 366px;
  text-align: center;
  justify-content: space-around;

  }

  .card1 {

    background-image: -webkit-image-set();
    text-align: center;
    }
  
  /* Limpa seção e coluna caso não exista
    section::after {
    content: "";
    display: table;
    clear: both;
  }*/
  
  /* Estilo do Rodapé */
  .rodape {
    background-color: #7882D8;
    padding: 35px;
    text-align: center;
    color: white;
    font-size: 35px;
  }
  
  /* Layout Responsivo transforma tudo em duas colunas para caber na tela do celular*/
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  